h1{
    color:green;
}

label{
    color:red;
}
#banner {
    background-image: url("jordantab.github.io/Media/IMG_1065.JPG");
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 700px;
  }

  #banner .content h1 {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 400px;
  }