h1{
    color:blue;
}

label{
    color:red;
}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
  }
#banner {
    background-image: url("/Users/tarkantaboglu/Desktop/Random Projects/jordantab.github.io/Media/IMG_1065.JPG");
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 700px;
  }

  