h1{
    color:blue;
}

label{
    color:red;
}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
  }
#banner {
    background-image: url("jordantab.github.io/Media/IMG_1747.HEIC");
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 700px;
  }

  